.caixa{
    display: inline-block;
    border: 1px solid #c0b1b1;
    padding: 0 20px 0 20px;
    border-radius: 15x;
}

body{
    background-color: #c0b1b1;
    font-family: 'Arial', sans-serif;
    color: #444;
    line-height: 1.5;
    width: 60%;
    margin: 0 auto;
    padding: 2% 0;
}
main {
    background-color: #fff;
    border-radius: 15px;
}

h1, h2 {
    color: rgb(140, 76, 8);
}

section {
    margin-top: 0px;
    padding-bottom: 5px;
    border-top: solid 1px grey;
}

.experiencia{
    margin: 20 auto;
    padding: 5px 20px 5px 20px;
}

table {
    width: 80%;
    margin: 0 auto; /* Centraliza a tabela horizontalmente */
    border-collapse: collapse; /* Remove espaçamento entre as células */
  }
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd; /* Adiciona uma linha horizontal entre as linhas */
  }
  th {
    background-color: #f2f2f2; /* Cor de fundo para cabeçalhos */
  }
